@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 15.62rem;
    background: linear-gradient(90deg, rgba(87,74,224,1) 35%, rgba(62,161,219,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    margin-right: 1.25rem;
}
.content-link {
    display: flex;
    justify-content: space-between;
}
.content-link a {
    margin: 3rem 1.25rem 2.31rem 1.25rem;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fafafa;
    font-weight: normal;
    font-size: 18px;
}
.content-search{
    height: 2.5rem;
    border-radius: 5px;
    margin: 0 1.25rem 3rem 1.25rem;
    background: rgba(255,255,255,0.2);

    display: flex;
}
.content-search img{
    height: 0.97rem;
    width: 0.97rem;
    margin: 0.76rem 0.82rem 0.57rem 0.76rem;
}
.content-search input{
        border: none;
        width: 21.87rem;
        background: none;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        color: #fafafa;
}
.content-search input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.content-search input::placeholder{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #fafafa;
}
/*------cards do blog--------*/
.container-main{
    margin: 3.12rem 1.25rem 0 1.25rem;
}
.card{
    margin-top: 1rem;
    margin-bottom: 3.12rem;
}
.date-like{
    margin: 1rem 1rem 1.68rem 0.93rem;
    display: flex;
    justify-content: space-between;
}

.card p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #717171;
}
.conteudo{
    margin-left: 1rem;
    margin-bottom: 0.93rem;
}
.conteudo p{
    line-height: 1.62rem;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1A202C;
    margin-bottom: 1rem;

}
footer{
    margin-top: 3.12rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(87,74,224, 1) ;
}
footer p{
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #fcfcfc;
}

footer p a{
    text-decoration: none;
    color: rgba(62,161,219,1);
}
/*--------responsive--------*/
@media screen and (min-width: 1024px){
    .content{
        width: 56.25rem;
        margin: 0 auto;
    }
    .content-search{
        margin-top: 50px;
    }
    .content-search input{
        width: 55.93rem;
    }
    .card{
        width: 56.25rem;
        margin: 0 auto;
    }
    footer p{
        font-size: 16px;
    }
}