.container-main{
    margin: 3.12rem 1.25rem 0 1.25rem;
}
.card{
    margin-top: 1rem;
    margin-bottom: 3.12rem;
}
.date-like{
    margin: 1rem 1rem 1.68rem 0.93rem;
    display: flex;
    justify-content: space-between;
}

.card p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #717171;
}
.conteudo{
    margin-left: 1rem;
    margin-bottom: 0.93rem;
}
.conteudo p{
    line-height: 1.62rem;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #1A202C;
    margin-bottom: 1rem;

}